<%# Copy and Pasted from new.html.erb %>

<h1>Edit Project</h1>

<%= render "form", project: @project  %>    


<%# <form action="/projects" method="post">
        <input type="text" name="project[name]" />
        <input type="submit" value="Create Project" />
    </form> 
%>
